

.title a,.subtitle a {
  color: var(--color-conversion-1);
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

button.btn_logout{
  background-color: var(--color-conversion-1);
  color: var(--color-darkness-background);
  border:none;
  border-radius: var(--default-border-radius);
  line-height: 30px;
  display: block;
  margin-top: 30px;
  text-transform: uppercase;
  padding: 0px 30px;
  cursor: pointer;
}