.backgroundAnimated {
    background: linear-gradient(133deg, #2c3a57, #4361ee, #721fc5);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 70%}
    50%{background-position:100% 31%}
    100%{background-position:0% 70%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 70%}
    50%{background-position:100% 31%}
    100%{background-position:0% 70%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 70%}
    50%{background-position:100% 31%}
    100%{background-position:0% 70%}
}
@keyframes AnimationName {
    0%{background-position:0% 70%}
    50%{background-position:100% 31%}
    100%{background-position:0% 70%}
}